
/* Generic updates */
body{
    font-family: 'Montserrat';  
}

h1 {  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    }

h2{
    font-size: 3rem;  
    line-height: 1.5;
    font-weight: 700;
    }

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* navigation bar */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

/* Title */

#title{
    background-color: #ff4c68;
    color: white;
}

.dwnloadButton{
    margin: 5% 3% 5% 0;

}

.mainImg{
    transform: rotate(25deg);
    right: 25%;
    position: absolute;
}

@media screen and (max-width: 1250px){
    #title{
        text-align: center;
    }
    
    
    .mainImg{
        transform: rotate(0);
        right: 0;
        position: relative;
    }
}


/* Feature Section */

#features{
    padding: 7% 16%;
    text-align: center;
    background-color: #fff;
    position:relative;
    z-index: 1;
}

/* Feature img */

.featureImg{
    color: #ef8172;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.featureImg:hover{
    color: #ff4c68;
}

/* Feature Text */

.featureBox{
    padding: 5%;
}



/* Testimonials Section */

#testimonials{

    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

.carousel-item{
    padding: 7% 16%;
}


.testimonialImg{
    margin: 20px;
    width: 10%;
    border-radius:100%
}

/* Press */

#press{
    padding-bottom: 3%;
    background-color: #ef8172;
    color: #fff;
    text-align: center;

}

.pressImg{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section*/

#pricing{
    padding: 7% 16%;
    text-align: center;
}

.pricingColumn{
    padding:3% 2%;
}


/* Call To action section */

#cta{
    padding: 7% 16%;
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
}

/* Footer Section */

#footer{
    padding: 3% 16%;
    text-align: center;
}

.footerLink{
    font-size: 2rem;
    padding:1%;
    color: #000
}